{% extends 'loginbase.html' %}
{% block content %}

<!-- 1 -->

<center><font color='green' size="36">Reset Password</font><br></center>
<center><font color='red' ><h3>We will send a link for reset your password,</h3></font></center>
<center><font color='red'><h3>After submitting please check your mailbox.</h3></font></center><br>
<center><form method="post">
    {% csrf_token %}
    <div class="field">
    {{ form.as_p }}</div>
    <button type="submit" class="btn">submit</button>
</form></center>

{% endblock %}


