<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bid Mafia</title>
        <link rel="stylesheet" href="../static/css/nav.css">
        <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
    </head>
    <body>
        <p class="hhhh">
            Where the Wolrld goes to shop
            <span>
              bid mafia
            </span>
            &mdash; don't miss just bid &mdash;
          </p>
        <div class="khali">    
        <div class="wrapper">
            <div class="ffuk">
                <ul>
                    <li><a href="http://127.0.0.1:8000/home" class="left">Home</a></li>
                    <li><a href="logout">Logout</a></li>
                    <!-- <li><a href="#"></a></li> -->
                </ul>
            </div>
        </div>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
