<!DOCTYPE html>
<html>
    <head>
        <title>Bid Mafia : : Login</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/css/styl.css">
        <link href="https://fonts.googleapis.com/css?family=Concert+One|Oswald|Quicksand&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="contact-box">
                <div class="left"></div>
                <div class="right">
                   
                    <h2>Bid now and grab more</h2>
                    {% block content %}
                    {% endblock %}
                   <!-- <div class="niche">
                    <a href="http://127.0.0.1:8000/" >Login</a>
                    </div>
                    -->
                </div>
            </div>            
        </div>
    </body>
</html>